
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/BP.js"></script>


<h2>Index</h2>


<div id="tagsLlist" class="box">
    <div class="box-head">

    </div>


</div>

